.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

#jobs-container {
    background: white;
}

.job-container {
    background: white;
}
.job-container:hover {
    background: inherit;
}
.cover-letter {
    resize: none;
}

.additional-details {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #47D1F8;
    text-align: center;
}

button.submit-input,
input.submit-input{
    width: 100%;
    height: 50px;
    font-size: 1.15em;
}

.cyan-color {
    color: #75DEFC;
}