.profile-info {
    background: white;
    font-size: 1.2em;
    font-family: Helvetica, Arial, sans-serif;
    color: #545353;
}

.profile-photo {
    width: 100%;
    height: 100%;
    max-width: 200px;
}

.profile-photo-rounded {
    border-radius: 50%;
}

.user-rating {
    font-family: Helvetica, Arial, sans-serif;
}

    .user-rating > span.rating-value {
        font-size: 1.05em;
        color: #222;
    }
