#proposals-container {
    background: white;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
}

.proposal {
    position: relative;
}

.delete-proposal {
    z-index: 1;
    background: transparent;
    border: none;
    position: absolute;
    color: red;
    right: 4%;
    top: 2%;
    font-size: 1.2em;
}
