@model EWork.Models.Job

@{
    ViewData["Title"] = "CreateJob";
    Layout = "_Layout";
}

<h2 class="page-title">Create Job</h2>
<hr />
<div class="row" style="display: flex; justify-content: center;">
    <div class="col-xs-10 col-md-6">
        <form asp-action="CreateJob" >
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5" style="resize: none;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control"/>
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <input class="form-control" name="Tags" type="text"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="JobBoard">Back to Job Board</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
