@{
    ViewData["Title"] = "Notifications";
}

@section Styles {
    <link href="/css/jobboard.css" rel="stylesheet" type="text/css" />
    <link href="/css/space.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/button.css" rel="stylesheet" type="text/css" />
}

<h2 class="page-title">Your Notifications</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Source link
            </th>
            <th>
                Send date
            </th>
            <th>
                <a id="delete-all-notifications" style="cursor: pointer;">Delete all</a>
            </th>
        </tr>
    </thead>
    <tbody id="notificationsTable">
    </tbody>
</table>
<div class="container-fluid">
    <div class="row">
        <div class="justify-content-container">
            <button class="button blue" id="download-more-notifications">Load more</button>
            <input type="hidden" name="notificationReceiver" value="@User.Identity.Name"/>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()

@section Scripts {
    <script src="/js/deleteNotification.js"></script>
    <script src="/js/notification/notificationAjax.js"></script>
    <script>$('#download-more-notifications').click();</script>
}